<section class="container-fluid-form">
<p id="notice"><%= notice %></p>
  <div class="form-main">
    <%= form_with(model: product, local: true) do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row new-product-row1">
        <div class="col-12 form-group">
          <h5><%= form.label :name %></h5>
          <div class="col-12 product-form">
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="col-12 form-group">
          <h5><%= form.label :description %></h5>
          <div class="col-12 product-form">
            <%= form.text_area :description, rows: "3", class: "form-control" %>
          </div>
        </div>

        <div class="col-12 form-group">
          <h5><%= form.label :price %></h5>
          <div class="col-12 product-form">
            <%= form.text_area :price, rows: "1" %>
          </div>
        </div>

        <div class="col-12 form-group">
          <h5><%= form.label :color %></h5>
          <div class="col-12 product-form">
            <%= form.text_area :color, rows: "3" %>
          </div>
        </div>

        <div class="col-12 form-group">
          <h5><%= form.label :image_url %></h5>
          <div class="col-12 product-form">
            <%= form.text_field :image_url %>
          </div>
        </div>

      </div> <!-- end row -->

      <div class="actions">
      <p><%= form.submit class:"search-form-button" %></p>
      </div>

    <% end %> <!-- end form do -->
  </div> <!-- end form main -->
</section>
