<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row" data-product-id="<%= @product.id %>">

    <div class="col-xs-12 col-sm-6">
<div class="pr-size">
 <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url")
  %>
  </div>
</div>
  <div class="col-xs-12 col-sm-6">
    <h2 id="prod-name"><%= @product.name.upcase %></h2>

 <p>
  <strong>Price:</strong>
  <%= @product.price %> €
</p>

<p id="prod-description"><%= @product.description %></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
